#qrCard {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -10em; /*set to a negative number 1/2 of your height*/
    margin-left: -18em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}